
body {
  padding: 0;
  margin: 0;
}

.calendar {
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
  -webkit-app-region: drag;
  overflow: hidden;
  background-color: #31574f;
  border: 20px solid #d3b78e;
  padding-left: 10px;
  padding-right: 10px;
}

.calendar h1 {
  color: white;
  font-size: 2.8rem;
}

.calendar p {
  color: white;
  font-size: 2.2rem;
}

.calendar p span {
  color: red;
  background-color: white;
  padding: 4px;
  margin-left: 6px;
  font-size: 2.6rem;
}
